<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.food.Mapper.UserMapper">
    <insert id="add" parameterType="com.java.food.entity.UserData">
        insert into userdata(username,password,imageUrl) values (#{username},#{password},#{imageUrl})
    </insert>

    <select id="queryByName" resultType="com.java.food.entity.UserData">
        select * from userdata where username = #{username}
    </select>

    <select id="queryImageUrl" resultType="java.lang.String">
        select imageUrl from userdata where id = #{uid}
    </select>

    <update id="updateImageUrl">
        update commentdata
        set imageUrl = #{imageUrl}
        where id = #{uid}
    </update>

</mapper>